:root {
    font-size: 20px;
    box-sizing: inherit;
  }
  p{
    margin:0 ;
    margin-bottom: 1.5rem;
}
body{
    font: 1em/1.618 Inter, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:95vh;
    color: white;
    background: 
    url(https://images.unsplash.com/photo-1695970923398-0120e953ee8a?auto=format&fit=crop&q=80&w=2070&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)
    center
    no-repeat;
}
.card{
    max-width:300px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content:space-between ;
    padding:30px;
    border: 1px solid rgba(255, 255, 255, .75);
    border-radius: 20px;
    background-color: 1px solid rgba(255, 255, 255, 0.45);
    backdrop-filter: blur(10px);
}
.card-footer{
    font-size: 0.65em;
  color: white;
}